@{
    ViewData["Title"] = "Details page";
}

<div>
    <ul>
        <li>Name: @Model.Name</li>
        <li>Price: @Model.Price $</li>
        <li>Description: @Model.Description</li>
    </ul>
    <a class="btn btn-warning" asp-controller="EditProduct" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-danger" asp-controller="DeleteProduct" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>
